.burn-body {
    margin: 0;
    margin-bottom: 5rem;
}

.burn-img {
    width: 40vw;
    border-radius: 5rem;
}

.alert {
    color: crimson;
}

.burn-atoms-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    background-color: #144272;
}

::-webkit-scrollbar-thumb {
    background-color: #2C74B3;
}

::-webkit-scrollbar-button {
    background-color: #BFEAF5;
}