* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/background.jpg");
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}